#scene_show.row
	.col-md-8.col-md-offset-2
		.panel.panel-default
			
			.panel-heading
				.container
					%ul.nav.navbar-nav.navbar-left
						%li.user
							= link_to user_path(@scene.user.username), class: "show_a"  do
								= image_tag @scene.user.avatar.url(:thumb), class: "show_avatar"
						
						%li
							%p.username
								= link_to user_path(@scene.user.username), class: "show_a"  do
									= @scene.user.username

					%ul.nav.navbar-nav.navbar-right
						%li
							- if user_signed_in? &&  @scene.user != current_user
								= link_to "Repost", repost_scene_path(@scene), method: :post, data: { confirm: "Are you sure?" }, class: "btn btn-default"


			.panel-heading.scene_image
				= image_tag @scene.image.url(:medium)

			.panel-body
				%h1= @scene.name
				%p.description= @scene.description



			.panel-footer
				.row
					.col-md-6
						%p.user
							Submitted by
							= link_to user_path(@scene.user.username), class: ""  do
								= @scene.user.username

						%p.user
							Board:
							= link_to @scene.board, class: ""  do
								= @scene.board.name

				
					.col-md-6
						.btn-group.pull-right
							= link_to "Back", root_path, class: "btn btn-default"

							- if @scene.user == current_user

								= link_to "Edit", edit_scene_path, class: "btn btn-default"

								= link_to "Delete", scene_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default"