- @rop = {"shadows" => @scene.shadows,"dark" => @scene.dark,"light" => @scene.light,"sun" => @scene.sun,"fog" => @scene.fog,"bg_color" => @scene.bg_color,"fog_color" => @scene.fog_color,"fog_use_bk" => @scene.fog_use_bk,"color_by_layer" => @scene.color_by_layer,"edge" => @scene.edge,"render_mode" => @scene.render_mode,"sky_color" => @scene.sky_color,"draw_sky" => @scene.draw_sky,"draw_ground" => @scene.draw_ground,"ground_color" => @scene.ground_color,"depth_cue" => @scene.depth_cue,"hidden" => @scene.hidden,"endpoints" => @scene.endpoints,"profiles" => @scene.profiles  }

#scene_show.row
	.col-md-8.col-md-offset-2
		.panel.panel-default
			
			.panel-heading
				.container
					%ul.nav.navbar-nav.navbar-left
						%li.user
							= link_to user_path(@scene.user.username), class: "show_a"  do
								= image_tag @scene.user.avatar.url(:thumb), class: "show_avatar"
						
						%li
							%p.username
								= link_to user_path(@scene.user.username), class: "show_a"  do
									= @scene.user.username

					%ul.nav.navbar-nav.navbar-right
						%li
							- if user_signed_in? &&  @scene.user != current_user
								= link_to 'Repost', repost_scene_path(@scene), class: 'btn btn-default'


						%li
							- if @scene.is_repost?
								%p= "I'm a repost!"





			.panel-heading.scene_image
				%nav{"aria-label" => "breadcrumb"}
					%ol.breadcrumb
						%li.breadcrumb-item
							= link_to user_path(@scene.user.username), class: "username"  do
								= @scene.user.username

						- if @scene.board
							%li.breadcrumb-item
								= link_to board_path(@scene.board.id), class: "username"  do
									= @scene.board.name
									
						%li.breadcrumb-item.active{"aria-current" => "page"} #{@scene.name}

				.row
					.col-md-11
						%ul
							%li.img	
								= image_tag @scene.image.url(:medium)
			
				%br/

				.row
					.col-md-11
						%ul
							%li.img
								%a{class: "btn btn-primary btn-lg", onclick: "JavaScript:myScene('#{@scene.name}','#{@scene.description}','#{@rop}')"} Create Scene



			.panel-bod
				.col-md-10.col-md-offset-1

					.row

						.col-md-3.col-sm-3.col-xs-6
							%br/
							%h1= @scene.name

					.row
						
						.col-md-12.col-sm-12.col-xs-12

							%p.description= @scene.description
					
					%hr/

					.row
						.col-md-3.col-sm-3.col-xs-6
							%h4= "View Settings"
							%p.description= "Hidden Geometry: #{@scene.hidden}" 

						.col-md-3.col-sm-3.col-xs-6
							%h4= "Shadow Settings"
							%p.description= "Display Shadows: #{@scene.shadows}"
							%p.description= "Light: #{@scene.light}"
							%p.description= "Dark: #{@scene.dark}"
							%p.description= "Use Sun: #{@scene.sun}"
					                                          
						.col-md-3.col-sm-3.col-xs-6
							%h4= "Edge Settings"
							%p.description= "Display Edges: #{@scene.edge}"
							%p.description= "Profiles: #{@scene.profiles}"
							%p.description= "Depth cue: #{@scene.depth_cue}"
							%p.description= "Endpoints: #{@scene.endpoints}"

						.col-md-3.col-sm-3.col-xs-6
							%h4= "Face Settings"
							- rmode = "Wireframe"   if @scene.render_mode == 0
							- rmode = "Hidden Edge" if @scene.render_mode == 1
							- rmode = "Shade"       if @scene.render_mode == 2
							- rmode = "Textured"    if @scene.render_mode == 3
							- rmode = "Monochrome"  if @scene.render_mode == 4

							%p.description= "Render Mode: #{rmode}"

					%hr/

					.row
						.col-md-3.col-sm-3.col-xs-6
							%h4= "Background Settings"
							%p.description= "Background Color: #{@scene.bg_color}"
							%p.description= "Sky Color: #{@scene.sky_color}"
							%p.description= "Draw Sky: #{@scene.draw_sky}"
							%p.description= "Ground Color: #{@scene.ground_color}"
							%p.description= "Draw Ground: #{@scene.draw_ground}"

						.col-md-3.col-sm-3.col-xs-6
							%h4= "Fog"
							%p.description= "Display Fog: #{@scene.fog}"
							%p.description= "Fog Color: #{@scene.fog_color}"
							%p.description= "Use background color: #{@scene.fog_use_bk}"
					                                          
						.col-md-3.col-sm-3.col-xs-6
							%h4= "Layers"
							%p.description= "Color by layer: #{@scene.color_by_layer}"

						.col-md-3.col-sm-3.col-xs-6

				
				
	
			.panel-footer
				.row
					.col-md-12
						.btn-group.pull-right
							= link_to "Back", :back, class: "btn btn-default"

							- if @scene.user == current_user

								= link_to "Edit", edit_scene_path, class: "btn btn-default"

								= link_to "Delete", scene_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default"

:javascript

	function myScene( name, description, rop ){
		sketchup.say( name, description, rop );
	}