#scene_show.row
	.col-md-8.col-md-offset-2
		.panel.panel-default
			
			.panel-heading
				.container
					%ul.nav.navbar-nav.navbar-left
						%li.user
							= link_to user_path(@scene.user.username), class: "show_a"  do
								= image_tag @scene.user.avatar.url(:thumb), class: "show_avatar"
						
						%li
							%p.username
								= link_to user_path(@scene.user.username), class: "show_a"  do
									= @scene.user.username

					%ul.nav.navbar-nav.navbar-right
						%li
							- if user_signed_in? &&  @scene.user != current_user
								= link_to "Save", repost_scene_path(@scene), method: :post, data: { confirm: "Are you sure?" }, class: "btn btn-danger"


			.panel-heading.scene_image
				= image_tag @scene.image.url(:medium)




			%nav{"aria-label" => "breadcrumb"}
				%ol.breadcrumb
					%li.breadcrumb-item
						= link_to user_path(@scene.user.username), class: "username"  do
							= @scene.user.username

					- if @scene.board
						%li.breadcrumb-item
							= link_to board_path(@scene.board.id), class: "username"  do
								= @scene.board.name
								
					%li.breadcrumb-item.active{"aria-current" => "page"} #{@scene.name}




			.panel-body
				%h1= @scene.name
				%p.description= @scene.description



			.panel-footer
				.row
					.col-md-12
						.btn-group.pull-right
							= link_to "Back", :back, class: "btn btn-default"

							- if @scene.user == current_user

								= link_to "Edit", edit_scene_path, class: "btn btn-default"

								= link_to "Delete", scene_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default"