
= image_tag @user.avatar.url(:thumb), class: "avatar"
%h3= @user.username
%p= @user.bio


%h3 My Boards

.box.panel.panel-default
	.panel-body
		= link_to new_board_path, class: ""  do
			.glyphicon.glyphicon-plus.big

- @user.boards.each do |board|

	.box.panel.panel-default

		.panel-body	
			%h5= link_to board.name, board

			/%h5= link_to board.user.username, user_path(board.user.username)