.col-md-8.col-md-offset-2
	.panel.panel-default

		.panel-heading
			/- if current_user
			/	= image_tag current_user.avatar.url(:thumb), class: "avatar"
			/	%p= current_user.username

			.container
				%ul.nav.navbar-nav.navbar-left
					%li
						= link_to "Scenes", root_path, class: "btn btn-default"

					%li
						= link_to "Boards", boards_path, class: "btn btn-default active"

		.panel-body

			%h2 All Boards

			.box.panel.panel-default.new
				= link_to new_board_path, class: ""  do
					.glyphicon.glyphicon-plus.big

			- @boards.each do |board|

				.box.panel.panel-default
	
					%ul.user

						%li.img
							= link_to (image_tag board.scenes.first.image.url(:thumb), class: "scene"), board

						%li
							= link_to board, class: "title"  do
								= truncate board.name, length: 24

						%li.user
							= link_to user_path(board.user.username), class: "small_avatar"  do
								= image_tag board.user.avatar.url(:thumb), class: "small_avatar"
						%li
							%p.username
								by
								= link_to user_path(board.user.username), class: "username"  do
									= board.user.username

						%li.button
							%a{class: "btn btn-default", onclick: "JavaScript:play()"} Create Scenes
