#scene_show.row
	.col-md-8.col-md-offset-2
		.panel.panel-default

			.panel-heading
				= image_tag @board.user.avatar.url(:thumb), class: "avatar"

				= link_to user_path(@board.user.username), class: ""  do
					%h3= @board.user.username
				%p= @board.user.bio

			.panel-body
				.btn-group.pull-left
					%h4= "#{@board.user.username} > #{@board.name}"


				.btn-group.pull-right
					= link_to "Create All Scenes in SketchUp", :back, class: "btn btn-default"

			.panel-body
				.box.panel.panel-default.new
					= link_to new_scene_path, class: ""  do
						.glyphicon.glyphicon-plus.big.append.text-info.tip{"data-placement" => "bottom", "data-tip" => "tip-new", :onclick => "JavaScript:play()"}

				- @board.scenes.each do |scene|
					.box.panel.panel-default
						
						%audio#audio{:src => audio_path("pick.wav")}
						%a{:href => "JavaScript:play()"}
							=image_tag( scene.image.url(:thumb), :onclick => "myScene('#{scene.name}','#{scene.description}')" )
						
						%ul.user
							%li
								%h4= link_to scene.name, scene, class: "title"

							%li.user
								= link_to user_path(scene.user.username), class: "small_avatar"  do
									= image_tag scene.user.avatar.url(:thumb), class: "small_avatar"
							%li
								%p.username
									by
									= link_to user_path(scene.user.username), class: "username"  do
										= scene.user.username

							%li.button
								= link_to "Create Scene", root_path, class: "btn btn-default"

						
						/%h4= link_to scene.name, scene
						/%small Posted in "#{scene.board.name}"


			.panel-footer
				.row
					.col-md-12
						.btn-group.pull-right
							/= link_to "Back", root_path, class: "btn btn-default"
							
							= link_to "Back", :back, class: "btn btn-default"


							- if @board.user == current_user
								= link_to "Edit", edit_user_registration_path, class: "btn btn-default"
								

/ Tips content
#tip-new.tip-content.hidden
	%p New Scene
#tip-account.tip-content.hidden
	%p Account
#tip-logout.tip-content.hidden
	%p Log Out

:javascript

	function myScene( name, description, shadows, light, dark, use_sun, fog, rop ){
		sketchup.say( name, description, shadows, light, dark, use_sun, fog, rop );
	}

	// Audio
	function play(){
		var audio = document.getElementById("audio");
		audio.play();
	}

	// Tooltips
	$('.tip').each(function () {
		$(this).tooltip(
		{
			html: true,
			title: $('#' + $(this).data('tip')).html()
		});
	});