!!! 5
%html
%head
	%title Composcene
	= csrf_meta_tags
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
	= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

%body
	%nav.navbar.navbar-default
		.col-md-8.col-md-offset-2
			.container
				%ul.nav.navbar-nav.navbar-left
					%li
						= link_to root_path do
							= image_tag "logo.svg"
					
					%li.search
						= text_field_tag :search


				%ul.nav.navbar-nav.navbar-right
					- if user_signed_in?
					
						%li
							= link_to new_scene_path, class: ""  do
								.glyphicon.glyphicon-plus.tip{"data-placement" => "bottom", "data-tip" => "tip-new"}

					

						.btn-group
						
							%button.btn.btn-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", type: "button"}
								%li.user
									= image_tag current_user.avatar.url(:thumb), class: "small_avatar"


							.dropdown-menu.dropdown-menu-right
								.container

									%ul.avatar
										%li.list-group-item.list-group-item-action.list-group-item-info
											
											= link_to user_path(current_user.username), class: "m_avatar"  do
												
												.row
													.col-md-3.col-sm-3.col-xs-3
														= image_tag current_user.avatar.url(:thumb), class: "m_avatar"
													.col-md-3.col-sm-3.col-xs-3
														= current_user.username
														%p.description= current_user.email


									.empty-width &nbsp

								

									%ul.list-group
										%li.list-group-item

											= link_to edit_user_registration_path, class: ""  do
												.glyphicon.glyphicon-user
													Account
									
										%li.list-group-item
										
											= link_to destroy_user_session_path, method: :delete do
												.glyphicon.glyphicon-log-out
													Sign-Out

									%ul.list-group

										%li.list-group-item

											= link_to root_path, class: ""  do
												.glyphicon.glyphicon-asterisk
													License

										%li.list-group-item

											= link_to root_path, class: ""  do
												.glyphicon.glyphicon-cog
													Settings
									
										%li.list-group-item
										
											= link_to root_path, class: "" do
												.glyphicon.glyphicon-question-sign
													Help



					-else
						%ul.nav.navbar-nav.navbar-right
							%li= link_to "Sign Up", new_user_registration_path
							%li= link_to "Log In", new_user_session_path
							
	

	.col-md-8.col-md-offset-2
		- flash.each do |name, msg|
			= content_tag :div, msg, class: "alert alert-info"



	.container
		= yield



%br/
%br/
%br/


/ Footer
%footer.stick
	.footer.stick.text-center.py-3
		= link_to "https://composcene.com/", :target => "_blank", class: "footer_image"  do
			= image_tag "compo.svg"